.hero-vietnam {
  background-image: url('/public/images/riz-1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 812px;
  &__logo {
    position: absolute;
    top: 5%;
    left: 42%;
  }
  &__img-riziere {
    z-index: 2;
    position: absolute;
    bottom: 0;
  }
  &__img-nuage {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  &__map {
    position: absolute;
    z-index: 5;
    top: 8%;
    left: 15%;
  }

  h1 {
    font-size: 350px;
    position: absolute;
    text-align: left;
    top: 35%;
    right: 15%;
    z-index: 1;
    text-transform: uppercase;
    line-height: 250px;
    font-family: var(--font-heading), serif;
    color: var(--brown);
  }
}

.section-2-vietnam {
  height: 100px;
  position: relative;
  &__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    z-index: 7;
    top: -185px;
    margin: 0 calc((100vw - 1200px) / 2);
    width: 1200px;
    background-color: var(--beige);
    border-radius: 33px;
    padding: 50px;
    h4 {
      text-align: center;
      font-size: 36px;
      font-family: var(--font-body-heading), serif;
    }
    &__middle {
      display: flex;
      justify-content: space-around;
      align-items: center;
      ul {
        gap: 22px;
        display: flex;
        flex-direction: column;
        li {
          font-family: var(--font-body), serif;
        }
      }
      &__img {
        height: 176px;
        width: 615px;
        background-image: linear-gradient(to right, #FFF3DB 7%, rgba(255,255,255,0) 70%), url('/public/images/vietnam-card-img.png');
      }
    }
    &__buttons {
      display: flex;
      justify-content: center;
      gap: 45px;
      .inverted, .classic {
        font-size: 24px;
        font-family: var(--font-body-heading), serif;
        padding: 15px 115px;
        border-radius: 33px;
      }
      .inverted {
        border: 1px solid var(--brown);
      }
      .classic {
        color: var(--beige);
        background-color: var(--brown);
        border: 1px solid var(--brown);
      }
    }
  }
}

.section-3-vietnam {
  background-image:  url('/public/images/section-1-bg.jpeg');
  background-position: center center;
  background-color: rgba(255,243,219,0.8);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  height: 712px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  &__nuage-top {
    position: absolute;
    top: 0;

    object-fit: cover;
    width: 100%;
  }
  &__nuage-bottom {
    position: absolute;
    bottom: 0;

    object-fit: cover;
    width: 100%;
  }
  &__text {
    position: relative;
    z-index: 8;
    p {
      font-size: 20px;
      font-family: var(--font-body), serif;
      line-height: 1.7;
    }
  }
}

.section-4-vietnam {
  height: 570px;
  position: relative;
  &__card {
    position: absolute;
    top: -200px;
    width: fit-content;
    margin-left: calc((100vw - 1200px) / 2);
    background-color: var(--beige);
    border-radius: 33px;
    padding-bottom: 35px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.25);
    &__title {
      font-size: 64px;
      font-family: var(--font-body-heading), serif;
      padding-left: 35px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &__text {
      padding-left: 35px;
      height: 230px;
      font-family: var(--font-body), serif;
    }
    .nav-button {
      margin: 0 auto;
      width: 200px;
      height: 60px;
      background-color: var(--brown);
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 0 24px;
    }

    .arrow {
      z-index: 1;
    }

    .left {
      transform: rotate(180deg);
    }

    .divider {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 150%;
      background-color: var(--beige);
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: 0;
    }
  }
  &__vietnam {
    position: absolute;
    top: -300px;
    right: 300px;
  }
}

.section-5-vietnam {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 70px;
}

.section-6-vietnam {
  margin-bottom: 70px;
  h3 {
    font-size: 36px;
    font-family: var(--font-body-heading), serif;
    margin-bottom: 30px;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.section-7-vietnam {
  background-image:  url('/public/images/section-7-vietnam.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 714px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  &__nuage-top {
    position: absolute;
    top: 0;

    object-fit: cover;
    width: 100%;
  }
  &__nuage-bottom {
    position: absolute;
    bottom: 0;

    object-fit: cover;
    width: 100%;
  }
  &__card {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
    border-radius: 33px;
    background-color: var(--beige);
    h3 {
      font-size: 64px;
      font-family: var(--font-body-heading), serif;
    }
    p {
      color: black;
      font-family: var(--font-body), serif;
      padding: 0 40px;
    }
    a {
      border-radius: 33px;
      background-color: var(--brown);
      color: var(--beige);
      font-family: var(--font-body-heading), serif;
      font-size: 24px;
      padding: 15px 100px;
    }
  }
}

.section-8-vietnam {
  h3 {
    font-size: 64px;
    font-family: var(--font-body-heading), serif;
    margin-bottom: 30px;
  }
  &__destinations-container {
    display: flex;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 1050px){
      flex-direction: column;
    }
    &__items {
      display: flex;
      width: 50%;
      flex-direction: column;
      gap: 40px;
    }
  }
}